<a href="https://colab.research.google.com/github/richardenrico/Machine-Learning-Assignment/blob/main/Tugas01_ML_H071191055.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df = pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')
df.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [3]:
df = df.loc[:, 'anaemia':'smoking']
df.drop(columns=['ejection_fraction'], inplace=True)
df

     anaemia  creatinine_phosphokinase  diabetes  ...  serum_sodium  sex  smoking
0          0                       582         0  ...           130    1        0
1          0                      7861         0  ...           136    1        0
2          0                       146         0  ...           129    1        1
3          1                       111         0  ...           137    1        0
4          1                       160         1  ...           116    0        0
..       ...                       ...       ...  ...           ...  ...      ...
294        0                        61         1  ...           143    1        1
295        0                      1820         0  ...           139    0        0
296        0                      2060         1  ...           138    0        0
297        0                      2413         0  ...           140    1        1
298        0                       196         0  ...           136    1        1

[299 rows x 9 columns]

In [4]:
df.loc[(df['creatinine_phosphokinase'] < 10) | (df['creatinine_phosphokinase'] > 120), 'creatinine_phosphokinase'] = 1
df.loc[(df['creatinine_phosphokinase'] >= 10) & (df['creatinine_phosphokinase'] <= 120), 'creatinine_phosphokinase'] = 0

df.loc[(df['platelets'] < 150000) | (df['platelets'] > 450000), 'platelets'] = 1
df.loc[(df['platelets'] >= 150000) & (df['platelets'] <= 450000), 'platelets'] = 0

df.loc[(df['serum_creatinine'] < 0.74) | (df['serum_creatinine'] > 1.35), 'serum_creatinine'] = 1
df.loc[(df['serum_creatinine'] >= 0.74) & (df['serum_creatinine'] <= 1.35), 'serum_creatinine'] = 0

df.loc[(df['serum_sodium'] < 135) | (df['serum_sodium'] > 145), 'serum_sodium'] = 1
df.loc[(df['serum_sodium'] >= 135) & (df['serum_sodium'] <= 145), 'serum_sodium'] = 0

In [5]:
df

     anaemia  creatinine_phosphokinase  diabetes  ...  serum_sodium  sex  smoking
0          0                         1         0  ...             1    1        0
1          0                         1         0  ...             0    1        0
2          0                         1         0  ...             1    1        1
3          1                         0         0  ...             0    1        0
4          1                         1         1  ...             1    0        0
..       ...                       ...       ...  ...           ...  ...      ...
294        0                         0         1  ...             0    1        1
295        0                         1         0  ...             0    0        0
296        0                         1         1  ...             0    0        0
297        0                         1         0  ...             0    1        1
298        0                         1         0  ...             0    1        1

[299 rows x 9 columns]

In [6]:
df1 = apriori(df, min_support=0.1, use_colnames=True)
df1

     support                                           itemsets
0   0.431438                                          (anaemia)
1   0.742475                         (creatinine_phosphokinase)
2   0.418060                                         (diabetes)
3   0.351171                              (high_blood_pressure)
4   0.133779                                        (platelets)
5   0.284281                                     (serum_sodium)
6   0.648829                                              (sex)
7   0.321070                                          (smoking)
8   0.294314                (anaemia, creatinine_phosphokinase)
9   0.177258                                (anaemia, diabetes)
10  0.160535                     (anaemia, high_blood_pressure)
11  0.103679                            (anaemia, serum_sodium)
12  0.257525                                     (anaemia, sex)
13  0.113712                                 (anaemia, smoking)
14  0.327759               (diabetes, creatinine_phosphokinase)
15  0.250836    (creatinine_phosphokinase, high_blood_pressure)
16  0.110368              (platelets, creatinine_phosphokinase)
17  0.217391           (creatinine_phosphokinase, serum_sodium)
18  0.478261                    (creatinine_phosphokinase, sex)
19  0.240803                (smoking, creatinine_phosphokinase)
20  0.143813                    (diabetes, high_blood_pressure)
21  0.127090                           (diabetes, serum_sodium)
22  0.234114                                    (diabetes, sex)
23  0.100334                                (smoking, diabetes)
24  0.103679                (high_blood_pressure, serum_sodium)
25  0.204013                         (sex, high_blood_pressure)
26  0.100334                     (smoking, high_blood_pressure)
27  0.193980                                (sex, serum_sodium)
28  0.307692                                     (smoking, sex)
29  0.133779      (anaemia, creatinine_phosphokinase, diabetes)
30  0.107023  (anaemia, creatinine_phosphokinase, high_blood...
31  0.180602           (anaemia, creatinine_phosphokinase, sex)
32  0.107023                            (anaemia, smoking, sex)
33  0.107023  (diabetes, creatinine_phosphokinase, high_bloo...
34  0.107023  (diabetes, creatinine_phosphokinase, serum_sod...
35  0.180602          (diabetes, creatinine_phosphokinase, sex)
36  0.147157  (creatinine_phosphokinase, high_blood_pressure...
37  0.140468      (creatinine_phosphokinase, serum_sodium, sex)
38  0.230769           (smoking, creatinine_phosphokinase, sex)

In [7]:
rules = association_rules(df1, metric='lift', min_threshold=1)
rules

                                        antecedents  ... conviction
0                                         (anaemia)  ...   1.033321
1                             (high_blood_pressure)  ...   1.047351
2                                        (diabetes)  ...   1.192246
3                        (creatinine_phosphokinase)  ...   1.041860
4                                       (platelets)  ...   1.471572
5                        (creatinine_phosphokinase)  ...   1.017466
6                        (creatinine_phosphokinase)  ...   1.012036
7                                    (serum_sodium)  ...   1.094482
8                                         (smoking)  ...   1.030100
9                        (creatinine_phosphokinase)  ...   1.004816
10                                       (diabetes)  ...   1.028332
11                                   (serum_sodium)  ...   1.052444
12                            (high_blood_pressure)  ...   1.015547
13                                   (serum_sodium)  ...   1.021306
14                                            (sex)  ...   1.020952
15                                   (serum_sodium)  ...   1.105537
16                                        (smoking)  ...   8.428094
17                                            (sex)  ...   1.291298
18              (anaemia, creatinine_phosphokinase)  ...   1.066890
19                              (anaemia, diabetes)  ...   1.049910
20                       (creatinine_phosphokinase)  ...   1.003565
21                                       (diabetes)  ...   1.037773
22              (anaemia, creatinine_phosphokinase)  ...   1.019589
23                            (high_blood_pressure)  ...   1.015027
24                               (anaemia, smoking)  ...   5.969900
25                                   (anaemia, sex)  ...   1.161724
26                                        (smoking)  ...   1.113712
27                                            (sex)  ...   1.061357
28                  (diabetes, high_blood_pressure)  ...   1.006689
29  (creatinine_phosphokinase, high_blood_pressure)  ...   1.015011
30                                       (diabetes)  ...   1.006941
31                       (creatinine_phosphokinase)  ...   1.000387
32             (diabetes, creatinine_phosphokinase)  ...   1.062734
33                         (diabetes, serum_sodium)  ...   1.630992
34         (creatinine_phosphokinase, serum_sodium)  ...   1.146245
35                                       (diabetes)  ...   1.051893
36                       (creatinine_phosphokinase)  ...   1.019926
37                                   (serum_sodium)  ...   1.078122
38                                  (diabetes, sex)  ...   1.126672
39                       (creatinine_phosphokinase)  ...   1.012064
40                  (creatinine_phosphokinase, sex)  ...   1.013345
41                                   (serum_sodium)  ...   1.031345
42              (smoking, creatinine_phosphokinase)  ...   8.428094
43                                   (smoking, sex)  ...   1.030100
44                  (creatinine_phosphokinase, sex)  ...   1.311986
45                                        (smoking)  ...   1.855072
46                       (creatinine_phosphokinase)  ...   1.004525
47                                            (sex)  ...   1.178274

[48 rows x 9 columns]